.code__section {
  margin: 0 auto;
  max-width: 100vw;
  padding: 0 20px 0 20px;
}

.code__section-title {
  margin: 0 auto;
  font-family: "Teko", sans-serif;
  font-size: 2.5rem;
  color: #49a246;
  padding: 0 20px 0 20px;
  overflow: hidden;
}

.code__section-container {
  margin: 0 auto;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  column-gap: 15px;
  row-gap: 10px;
}

@media screen and (max-width: 1140px) {
  .code__section-title {
    font-size: 2rem;
  }

  .code__section-container {
    gap: 15px;
  }
}

@media screen and (max-width: 1024px) {
  .code__section-container {
    column-gap: 10px;
  }
}
