.code__section {
  margin: 0 auto;
  max-width: 90vw;
}

.code__section-title {
  margin: 0 auto;
  width: 90%;
  font-family: "Teko", sans-serif;
  font-size: 40px;
  color: #49a246;
}

.code__section-container {
  margin: 0 auto;
  width: 90%;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}
