.education__container {
  margin: 0 0 25px 0;
  display: flex;
  font-family: Arial, Helvetica, sans-serif;
  color: #919191;
}

.education__date {
  margin: 0;
  text-wrap: wrap;
  max-width: 100px;
  font-size: 1.125rem;
  padding-right: 15px;
}

.education__item-info {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  row-gap: 5px;
  border-left: 5px solid #49a246;
  padding-left: 15px;
}

.education__degree {
  margin: 0;
  font-size: 1.5rem;
  font-weight: 800;
  max-width: 700px;
  line-height: 1;
}

.education__major {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.25rem;
}

.education__institution-name {
  margin: 0;
  font-size: 1.125rem;
}

.education__institution-location {
  margin: 0;
  font-size: 1rem;
}

@media screen and (max-width: 700px) {
  .education__date {
    font-size: 1rem;
  }

  .education__degree {
    font-size: 1.2rem;
  }

  .education__major {
    font-size: 1rem;
  }

  .education__institution-name {
    font-size: 1rem;
  }

  .education__institution-location {
    font-size: 0.875rem;
  }
}

@media screen and (max-width: 585px) {
  .education__date {
    font-size: 1rem;
  }

  .education__degree {
    font-size: 1rem;
  }

  .education__major {
    font-size: 0.875rem;
  }

  .education__institution-name {
    font-size: 0.875rem;
  }

  .education__institution-location {
    font-size: 0.5rem;
  }
}

@media screen and (max-width: 500px) {
  .education__container {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
  }

  .education__item-info {
    border-left: 0;
    border-top: 1px solid #49a246;
    row-gap: 1px;
    padding-left: 0;
  }

  .education__date {
    padding-right: 0;
    max-width: fit-content;
    font-weight: 800;
    font-size: 1.2rem;
    padding-bottom: 2px;
  }

  .education__degree {
    font-size: 1rem;
    padding-top: 5px;
  }
}

@media screen and (max-width: 330px) {
}
