.main {
  margin: 0 auto;
  display: flex;
  align-items: center;
  max-width: 100vw;
  gap: 20px;
}

.main__title {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  font-family: "Teko", sans-serif;
  font-size: 100px;
  font-weight: 600;
  line-height: 0.8;
  color: #919191;
}

.main__title-text {
  margin: 0;
}

.main__title-letter-m {
  width: 60px;
  height: 57px;
}

.main__image-container {
  align-self: flex-end;
}

.main__image {
  align-self: center;
  width: 480px;
  height: 480px;
  border-radius: 75%;
  animation: rotation 100s infinite linear;
}

@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media screen and (max-width: 1140px) {
  .main {
    gap: 20px;
  }

  .main__title {
    font-size: 75px;
  }

  .main__title-letter-m {
    width: 50px;
    height: 50px;
  }

  .main__image {
    width: 450px;
    height: 450px;
  }
}

@media screen and (max-width: 960px) {
  .main {
    gap: 10px;
  }

  .main__title {
    font-size: 60px;
  }

  .main__title-letter-m {
    width: 40px;
    height: 40px;
  }

  .main__image {
    width: 350px;
    height: 350px;
  }
}

@media screen and (max-width: 760px) {
  .main__image {
    width: 250px;
    height: 250px;
  }
}
