.modal {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  display: flex;
  background-color: rgba(0, 0, 0, 0.5);
}

.modal__content-card {
  background-color: #49a246;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  margin: auto;
  min-height: 450px;
  height: fit-content;
  max-height: 600px;
  width: 30vw;
  position: relative;
}

.modal__image {
  border-radius: 10px 10px 0px 0px;
  height: 180px;
  width: auto;
  background-color: white;
}

.modal__close-button-image {
  background-image: url("../../images/close-button-modal.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-color: transparent;
  height: 20px;
  width: 20px;
  border: none;
  position: absolute;
  right: 28px;
  top: 28px;
  cursor: pointer;
  opacity: 1;
}

.modal__info {
  line-height: 1.1;
  padding: 20px;
  color: white;
}

.modal__info-name {
  margin: 0;
  font-weight: 700;
  font-size: 30px;
  font-family: "Teko", sans-serif;
  padding-bottom: 10px;
}

.modal__info-description {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 600;
  font-size: 15px;
  word-wrap: break-word;
  width: 100%;
}

.modal__info-project-button {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 0.8rem;
  font-weight: 700;
  color: #49a246;
  background-color: white;
  border: 2px white;
  border-radius: 20px;
  padding: 8px;
  line-height: 0.8;
  word-spacing: 1px;
  cursor: pointer;
  margin: 10px 10px 0 0;
}

.modal__info-project-button:hover {
  color: black;
  background-color: #919191;
}
