.modal {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  display: flex;
  background-color: rgba(0, 0, 0, 0.5);
}

.modal__content-card {
  background-color: #49a246;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  margin: auto;
  max-width: 420px;
  max-height: 500px;
  height: 100%;
  width: 100%;
  position: relative;
}

.modal__image {
  border-radius: 10px 10px 0px 0px;
  height: 200px;
  width: auto;
  background-color: white;
}

.modal__close-button-image {
  background-image: url("../../images/close-button-modal.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-color: transparent;
  height: 20px;
  width: 20px;
  border: none;
  position: absolute;
  right: 28px;
  top: 28px;
  cursor: pointer;
  opacity: 1;
}

.modal__info {
  line-height: 1.1;
  padding: 20px;
}

.modal__info-name {
  margin: 0;
  font-weight: 700;
  font-size: 30px;
  font-family: "Teko", sans-serif;
  padding-bottom: 10px;
}

.modal__info-description {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 400;
  font-size: 15px;
  word-wrap: break-word;
}
