.newscard__container {
  margin: 0 auto;
  width: 200px;
  display: flex;
  flex-direction: column;
  background-color: #919191;
  border-radius: 15px;
}

.newscard__image {
  height: 120px;
}

.newscard__info-container {
  background-color: #49a246;
  padding: 10px 20px;
  border-radius: 0 0 15px 15px;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  justify-content: flex-start;
}

.newscard__info-title {
  margin: 0;
  font-size: 1.5rem;
  font-family: "Teko", sans-serif;
  font-weight: 300;
  line-height: 1.2;
  text-align: center;
  color: black;
  overflow: hidden;
}

.newscard__info-text {
  margin: 0;
  font-size: 1.2rem;
  font-family: "Teko", sans-serif;
  font-weight: 300;
  line-height: 1.2;
  color: rgba(26, 27, 34, 1);
  overflow: hidden;
}
