.codecard__container {
  width: 160px;
  display: flex;
  flex-direction: column;
  background-color: transparent;
}

.codecard__button {
  border-radius: 20px;
  padding: 0;
  border: none;
  cursor: pointer;
}

.codecard__button:hover {
  background-color: #919191;
}

.codecard__image {
  height: 100px;
}

.codecard__info-container {
  background-color: #49a246;
  padding: 10px 20px;
  display: flex;
  flex-direction: column;
  border-radius: 0 0 15px 15px;
}

.codecard__info-title {
  margin: 0;
  font-size: 1.5rem;
  font-family: "Teko", sans-serif;
  font-weight: 300;
  line-height: 1.2;
  text-align: center;
  color: black;
}

@media screen and (max-width: 1140px) {
  .codecard__container {
    width: 150px;
  }
  .codecard__image {
    height: 90px;
  }
}

@media screen and (max-width: 1024px) {
  .codecard__container {
    width: 140px;
  }
  .codecard__image {
    height: 80px;
  }
}

@media screen and (max-width: 880px) {
  .codecard__container {
    width: 120px;
  }
  .codecard__image {
    height: 70px;
  }

  .codecard__info-title {
    font-size: 1.2rem;
  }
}

@media screen and (max-width: 700px) {
  .codecard__container {
    width: 90px;
  }
  .codecard__image {
    height: 60px;
  }

  .codecard__info-title {
    font-size: 1rem;
  }

  .codecard__info-container {
    background-color: #49a246;
    padding: 5px 10px;
  }
}
