.codecard__container {
  margin: 0 auto;
  width: 160px;
  display: flex;
  flex-direction: column;
  background-color: transparent;
}

.codecard__button {
  border-radius: 20px;
  padding: 0;
  border: none;
  cursor: pointer;
}

.codecard__button:hover {
  background-color: #919191;
}

.codecard__image {
  height: 100px;
}

.codecard__info-container {
  background-color: #49a246;
  padding: 10px 20px;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  justify-content: flex-start;
  border-radius: 0 0 15px 15px;
}

.codecard__info-title {
  margin: 0;
  font-size: 1.5rem;
  font-family: "Teko", sans-serif;
  font-weight: 300;
  line-height: 1.2;
  text-align: center;
  color: black;
  overflow: hidden;
}

.codecard__info-text {
  margin: 0;
  font-size: 1.2rem;
  font-family: "Teko", sans-serif;
  font-weight: 300;
  line-height: 1.2;
  color: rgba(26, 27, 34, 1);
  overflow: hidden;
}
